@model IEnumerable<WebApplication2.Models.projecto>

@{
    ViewBag.Title = "Index";
}

<h2>Projectos registados</h2>

<p>
    @Html.ActionLink("Novo Registo", "Create")
</p>

<table  id="projTable">
    <thead>
        <tr>
            <th>
                <h5><b>Nome do Pojecto</b></h5>
            </th>
            <th>
                <h5><b>Nome do Responsavel</b></h5>
            </th>
            <th>
                <h5><b>Data de Inicio</b></h5>
            </th>
            <th>
                <h5><b>Data de fim</b></h5>
            </th>
            <th></th>
        </tr>
    </thead>
</table>

<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#projTable').DataTable({
                "ajax": {
                    "url": "/projectoes/loaddata",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns" : [
                        { "data": "nomeProj", "autoWidth": true },
                        { "data": "nomeResp", "autoWidth": true },
                        { "data": "dataI", "autoWidth": true },
                        { "data": "dataF", "autoWidth": true },

                    ]
            });
        });
    </script>
}
